.container-login {
  align-items: center;
  background-color: #ffcc01;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.login, label, input {
  border-radius: 5px;
  margin-bottom: 1px;
  margin-left: 0;
}

.btn-login {
  background-color: #822535;
  border-radius: 5px;
  color: white;
  margin-top: 5px;
}

.btn-login:hover {
  background-color: #a0462a;
}

.login-img {
  width: 40%;
}

.btn-login:disabled {
  background-color: #e68c8c;
}
