* {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  margin: 0;
  padding: 0;
}

/* body {
  background-color: #16161a;
  color: #fffffe;
}

img {
  filter: invert(89%) sepia(4%) saturate(426%) hue-rotate(29deg) brightness(115%);
} */
