* {
  box-sizing: border-box;
  font-family: Roboto , sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffcc01;
  color: #fffffe;
}

.icon {
  filter: invert(89%) sepia(4%) saturate(426%) hue-rotate(29deg) brightness(115%);
}


.title-text {
  color: white;
  text-decoration: none;
}

.selecting-button {
  background-color: #822535;
  border-radius: 5px;
  color: #fffffe;
  flex-basis: auto;
  flex-grow: 1;
  font-size: 0.9em;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
  width: fit-content;
}


.selecting-button:hover {
  background-color: #994035;
}

.application-container {
  height: fit-content;
  padding-bottom: 60px;
  width: 100%;
}
