.explication-text {
  display: none;
}

@media screen and ( min-width : 500px ) {

  .recipes-application {
    background-color: #ffcc01;
    display: flex;
    height: 530px;
    overflow: auto;
    position: absolute;
    width: 450px;
  }

  .recipes-application-border {
    align-content: center;
    background-image: url('../images/screen4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 700px;
    justify-content: center;
    margin-top: 10px;
    padding-top: 79px;
    width: 550px;
  }

  body {
    background-color: white;
  }

}
