.explication-text {
  display: none;
}

.recipes-application {
  height: 100vh;
}

@media screen and ( min-width : 500px ) {

  .recipes-application {
    background-color: #ffcc01;
    display: flex;
    height: 530px;
    overflow-y: overlay;
    position: absolute;
    width: 450px;

  }

  ::-webkit-scrollbar {
    display: contents;
    width: 3px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(245, 245, 245, 0);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(255, 160, 82);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  .recipes-application-border {
    align-content: center;
    background-image: url('../images/screen4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 700px;
    justify-content: center;
    margin-top: 10px;
    padding-top: 79px;
    width: 550px;
  }

  body {
    background-color: white;
  }


}
