.done-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.done-card img {
  height: 100px;
}

.done-card button {
  height: 30px;
  width: 30px;
}

.done-card button img {
  height: 20px;
  width: 20px;
}
