.header {
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-between;
  left: 0;
  padding: 10px;

  /* position: fixed; */
  top: 0;
  width: 100%;
}

.search-button {
  filter: invert(89%) sepia(4%) saturate(426%) hue-rotate(29deg) brightness(115%);
}

.search-header {
  align-items: center;
  background-color: #2b2b30;
  display: none;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  transition: 850ms;
  width: 100vw;
}

.search-header.active {
  display: flex;
  transition: 350ms;
}

/* Search input e div */
.search-input {
  background-color: #72757e;
  border: 2px solid #16161a;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  outline: none;
  padding: 5px;
  width: 250px;
}

.search-input::placeholder {
  color: #fffffe;
  text-align: center;
}

.search-input-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Radio buttons e div */
.ingredient-search-radio {
  color: #fffffe;
  margin-right: 5px;
}

.name-search-radio {
  color: #fffffe;
  margin-right: 5px;
}

.first-letter-search-radio {
  color: #fffffe;
}

.search-radio-div {
  align-items: center;
  display: flex;
  justify-items: center;
  padding: 10px;
}

/* Search Button e div */
.search-button-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.exec-search-btn {
  background-color: #7f5af0;
  border: 2px solid #7f5af0;
  border-radius: 10px;
  color: #fffffe;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  width: 150px;
}

.header-card-image {
  width: 60px;
}

.drinks-cards-container, .recipes-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.header-card {
  align-items: center;
  border: solid white 2px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 20px;
  text-align: center;
  width: 160px;
}
