.header {
  background-color: #e6af2e;
  bottom: 0;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  top: 0;
  width: 100%;
}

.search-button {
  filter: invert(89%) sepia(4%) saturate(426%) hue-rotate(29deg) brightness(115%);
}

.search-header {
  align-items: center;
  background-color: #e6af2e;
  border-radius: 5px;
  display: none;
  justify-content: center;
  padding: 10px;
  transition: 850ms;
  width: 100%;
}

.search-header.active {
  border-radius: 0;
  border-top: 1px solid black;
  display: flex;
  transition: 350ms;
  width: 100%;
}

/* Search input e div */
.search-input {
  background-color: white;
  border: 2px solid #16161a;
  border-radius: 10px;
  font-size: 16px;
  height: 40px;
  margin-bottom: 5px;
  outline: none;
  padding: 5px;
}

.search-input::placeholder {
  color: #fffffe;
  text-align: center;
}

.search-input-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Radio buttons e div */
.ingredient-search-radio {
  color: #fffffe;
  margin-right: 5px;
}

.name-search-radio {
  color: #fffffe;
  margin-right: 5px;
}

.first-letter-search-radio {
  color: #fffffe;
  font-size: 17px;
  padding: 2px;
}

.search-radio-div {
  align-items: center;
  display: flex;
  justify-items: center;
  padding: 10px;
}

/* Search Button e div */
.search-button-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.exec-search-btn {
  background-color: #822535;
  border: 2px solid #822535;
  border-radius: 10px;
  color: #fffffe;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
}

.header-card-image {
  margin: 10px;
  width: 80px;
}

.drinks-cards-container, .recipes-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.header-card {
  align-items: center;
  background-color: #822535;
  border: solid white 2px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: space-around;
  margin: 10px;
  min-height: 150px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.header-card h2 {
  color: white;
}
