.footer {
  background-color: #e6af2e;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 10px 10px 0;
  position: fixed;
  width: 100%;
}

@media screen and ( min-width : 500px ) {

  .footer {
    position: fixed;
    top: 560px;
    width: 450px;
  }
}

