.progress-img {
  height: auto;
  object-fit: cover;
  width: 100%;
}

.container {
  background-color: #ffcc01;
}

.title-style {
  background-color: #e6af2e;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.icon-style input {
  margin-left: 10px;
  margin-right: 5px;
}

.icon-style, div h2, h4, h3 {
  color: #822535;
}

.ing-style {
  background-color: #e6af2e;
  border-radius: 5px;
  margin-bottom: 15px;
}

.ing-style ul, li {
  color: #822535;
  margin-left: 5px;
}

.inst-style {
  background-color: #e6af2e;
  border-radius: 5px;
  margin-bottom: 15px;
}

.inst-style p {
  color: #822535;
  margin-left: 5px;
}

.container-progress {
  background-color: #ffcc01;
  padding-left: 5px;
  padding-right: 5px;
}

.progress-recipe-btn {
  background-color: #822535;
  bottom: 0;
  color: white;
  font-size: 30px;
  height: 10vh;
  width: 350px;
}

