.recomendationsArea {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 340px;
}

.card {
  min-width: 180px;
  background-color: aqua;
}

.startRecipe {
  position: fixed;
  z-index: 100;
  bottom: 0px;
}
