.done-card {
  align-items: center;
  background-color: #822535;
  border: solid 2px #fffffe;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
  min-height: 200px;
  width: 150px;
}

.done-card a, .done-card p {
  color: #a7a9be;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

.done-card img {
  height: 100px;
}

.done-card button {
  background-color: rgb(95, 94, 94);
  height: 30px;
  width: 30px;
}

.done-card button img {
  height: 20px;
  width: 30px;
}

